# ДЗ Линейная регрессия

В данном задании мы рассмотрим набор данных об учащихся, собранный в 2006 году в одной из школ Португалии. Данные представлены в неудобном для машинного обучения виде, и содержат мусор. Ваша задача &mdash; привести их к надлежащему виду и обучить на них простую модель.

Данные состоят из четырех файлов:
- data.csv &mdash; основная таблица с информацией о учащихся
- scores.csv &mdash; список финальных оценок по одному из предметов (20-балльная шкала переведенная в проценты)
- attendance.csv &mdash; таблица посещений занятий по этому предмету
- school_support.txt &mdash; список учащихся, которым оказывается финансовая поддержка

Ваша задача &mdash; построить модель для предсказания финальных оценок исходя из всех остальных данных и проверить качество ее работы с помощью кросс-валидации. В качестве алгоритма мы будем использовать линейную регрессию, а качество будем измерять по метрике RMSE.

Расшифровка столбцов в data.csv для справки:
- age &mdash; возраст
- Medu &mdash; уровень образования матери (по некоторой условной шкале)
- Fedu &mdash; уровень образования отца (по некоторой условной шкале)
- traveltime &mdash; время в пути до школы (1 – < 15 мин., 2 – от 15 до 30 мин., 3 – от 30 мин. to 1 ч.
или 4 – > 1 ч.)
- studytime &mdash; время, затрачиваемое на занятия вне школы (1 – < 2 ч., 2 – от 2 до 5 ч., 3 – от 5 до 10 ч. или 4 – > 10 ч.)
- famrel &mdash; насколько хорошие отношения в семье у учащегося (по некоторой условной шкале)
- freetime &mdash; количество свободного времени вне школы (по некоторой условной шкале)
- goout &mdash; время, затрачиваемое на общение с друзьями (по некоторой условной шкале)
- Dalc &mdash; количество употребления алкоголя в учебные дни (по некоторой условной шкале)
- Walc &mdash; количество употребления алкоголя в неучебные дни (по некоторой условной шкале)
- health &mdash; уровень здоровья (по некоторой условной шкале)
- sex_M &mdash; пол: мужской (1) или женский (0)
- address_U &mdash; живет ли учащийся в городе (1) или в пригороде (0)
- famsize_LE3 &mdash; размер семьи: не больше 3 человек (1) или больше (0)
- Pstatus_T &mdash; живут ли родители вместе (1) или отдельно (0)
- nursery &mdash; посещал ли учащийся детский сад
- plans_university &mdash; планирует ли учащийся поступать в университет (-1 или 1)
- past_failures &mdash; количество неудовлетворительных оценок по другим предметам ранее (от 0 до 4)

*Примечание. Несколько признаков в данных содержат ошибки/проблемы/некорректности. Эти проблемы нужно исправить. Для
проверки &mdash; всего в данных таких проблем четыре.*

### Задача 1: сломанный признак (а может и не один)
__(1 балл)__

Загрузите таблицу data.csv.

Найдите в данных сломанный признак (он не соответствует описанию) и исправьте его.

In [2]:
import pandas as pd

# data_name = "data.csv"
data = pd.read_csv("data.csv")

# разделить plans_university и past_failures

data['plans_university'] = [int(str(i)[0:-1]) for i in data['plans_universitypast_failures']]
data['past_failures'] = [int(str(i)[-1]) for i in data['plans_universitypast_failures']]

data = data.drop(columns=['plans_universitypast_failures'])

print(data)

     age  Medu  Fedu  traveltime  studytime  famrel  freetime  goout  Dalc  \
0     16     4     4           1          2       5         4    4.0   1.0
1     17     4     4           1          1       5         3    4.0   1.0
2     16     1     1           2          1       4         5    5.0   2.0
3     18     1     2           2          1       3         4    4.0   2.0
4     17     2     1           2          2       4         2    5.0   1.0
..   ...   ...   ...         ...        ...     ...       ...    ...   ...
644   18     2     2           4          2       4         2    5.0   1.0
645   15     4     4           2          2       4         3    1.0   1.0
646   21     1     1           2          2       5         3    3.0   5.0
647   16     2     2           1          1       4         3    4.0   1.0
648   16     2     3          40          2       4         5    4.0   1.0

     Walc  health  sex_M  address_U  famsize_LE3  Pstatus_T  nursery  \
0     2.0       5      1          1            0          1        1
1     2.0       5      0          1            0          1        1
2     4.0       5      1          0            1          1        1
3     4.0       4      1          1            0          1        0
4     2.0       5      0          0            0          1        1
..    ...     ...    ...        ...          ...        ...      ...
644   1.0       2      0          1            0          1        1
645   1.0       5      1          1            0          1        1
646   2.0       4      1          0            1          1        1
647   2.0       1      0          1            1          0        1
648   2.0       1      0          0            0          1        1

     plans_university  past_failures
0                   1              0
1                   1              0
2                   1              0
3                  -1              0
4                   1              0
..                ...            ...
644                 1              0
645                 1              0
646                -1              2
647                -1              0
648                 1              0

[649 rows x 18 columns]

### Задача 2: пропуски в данных 
__(1 балл)__

Проверьте, есть ли в данных пропуски (значения NaN). Замените все пропущенные значения на среднее значение этого признака по столбцу.

*Hint: изучите в pandas функции loc, isnull, а также передачу булевых массивов в качестве индексов.*

In [4]:
missing = data.isnull()

for x in missing:
    avg_value = data[x].mean()
    z = list(missing[x])
    data[x].loc[z] = avg_value

data.describe()

,age,Medu,Fedu,traveltime,studytime,famrel,freetime,goout,Dalc,Walc,health,sex_M,address_U,famsize_LE3,Pstatus_T,nursery,plans_university,past_failures
count,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000,649.000000
mean,50.164869,2.514638,2.306626,1.747304,1.930663,3.930663,3.180277,3.186728,1.497653,2.286159,3.536210,0.409861,0.696456,0.295840,0.876733,0.802773,0.787365,0.221880
std,254.768848,1.134552,1.099931,2.716138,0.829510,0.955717,1.051093,1.174843,0.917715,1.279797,1.446259,0.492187,0.460143,0.456771,0.328996,0.398212,0.616962,0.593235
min,15.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-1.000000,0.000000
25%,16.000000,2.000000,1.000000,1.000000,1.000000,4.000000,3.000000,2.000000,1.000000,1.000000,2.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
50%,17.000000,2.000000,2.000000,1.000000,2.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,0.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
max,1991.000000,4.000000,4.000000,50.000000,4.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000

### Задача 3: нормализация данных
__(1 балл)__

Нормализуйте данные.

In [64]:
def normalize(data):
    for v in data:
        dispersion = data[v].std()
        avg = data[v].mean()

        data[v] = (data[v] - avg) / dispersion

normalize(data)    

print(data)

          age      Medu      Fedu  traveltime  studytime    famrel  freetime  \
0   -0.134101  1.309206  1.539528   -0.275135   0.083588  1.118885  0.779877
1   -0.130176  1.309206  1.539528   -0.275135  -1.121943  1.118885 -0.171514
2   -0.134101 -1.335010 -1.187916    0.093035  -1.121943  0.072550  1.731268
3   -0.126251 -1.335010 -0.278768    0.093035  -1.121943 -0.973785  0.779877
4   -0.130176 -0.453605 -1.187916    0.093035   0.083588  0.072550 -1.122905
..        ...       ...       ...         ...        ...       ...       ...
644 -0.126251 -0.453605 -0.278768    0.829375   0.083588  0.072550 -1.122905
645 -0.138027  1.309206  1.539528    0.093035   0.083588  0.072550 -0.171514
646 -0.114476 -1.335010 -1.187916    0.093035   0.083588  1.118885 -0.171514
647 -0.134101 -0.453605 -0.278768   -0.275135  -1.121943  0.072550 -0.171514
648 -0.134101 -0.453605  0.630380   14.083489   0.083588  0.072550  1.731268

        goout      Dalc      Walc    health     sex_M  address_U  famsize_LE3  \
0    0.692239 -0.542273 -0.223597  1.012122  1.199013   0.659674    -0.647676
1    0.692239 -0.542273 -0.223597  1.012122 -0.832735   0.659674    -0.647676
2    1.543416  0.547389  1.339151  1.012122  1.199013  -1.513566     1.541603
3    0.692239  0.547389  1.339151  0.320683  1.199013   0.659674    -0.647676
4    1.543416 -0.542273 -0.223597  1.012122 -0.832735  -1.513566    -0.647676
..        ...       ...       ...       ...       ...        ...          ...
644  1.543416 -0.542273 -1.004971 -1.062195 -0.832735   0.659674    -0.647676
645 -1.861294 -0.542273 -1.004971  1.012122  1.199013   0.659674    -0.647676
646 -0.158939  3.816377 -0.223597  0.320683  1.199013  -1.513566     1.541603
647  0.692239 -0.542273 -0.223597 -1.753634 -0.832735   0.659674     1.541603
648  0.692239 -0.542273 -0.223597 -1.753634 -0.832735  -1.513566    -0.647676

     Pstatus_T   nursery  plans_university  past_failures
0     0.374674  0.495281          0.344648      -0.374017
1     0.374674  0.495281          0.344648      -0.374017
2     0.374674  0.495281          0.344648      -0.374017
3     0.374674 -2.015947         -2.897041      -0.374017
4     0.374674  0.495281          0.344648      -0.374017
..         ...       ...               ...            ...
644   0.374674  0.495281          0.344648      -0.374017
645   0.374674  0.495281          0.344648      -0.374017
646   0.374674  0.495281         -2.897041       2.997328
647  -2.664872  0.495281         -2.897041      -0.374017
648   0.374674  0.495281          0.344648      -0.374017

[649 rows x 18 columns]

### Задача 4: кросс-валидация для исходных данных
__(1 балл)__

Загрузите файл scores.csv и протестируйте, как линейная регрессия предсказывает ответ сейчас (с помощью кросс-валидации).

*Hint: воспользуйтесь sklearn.linear_model и sklearn.model_selection.*

In [101]:
import sklearn
from sklearn.model_selection import train_test_split
import numpy as np
import random
from sklearn.model_selection import cross_validate

model = sklearn.linear_model.LinearRegression()

score = []

with open("scores.csv", 'r') as f:
    for line in f:
        score.append(float(line))

# model.fit(x_train, y_train)

# print(model.coef_)

# cross validation)

results = cross_validate(model, data, score, cv = 4, scoring = ('r2', 'neg_mean_squared_error'),return_train_score = True)

# results = cross_val_score(model, x_test, y_test)

# print(results['test_neg_mean_squared_error'])
print("accuraccy = ", results['train_r2'].mean())

accuraccy =  0.28448251927684187

### Задача 5: полные данные
__(2 балла)__

Воспользуйтесь файлами attendance.csv и school_support.txt для того, чтобы добавить новые признаки в данные. Желательно по максимуму использовать возможности pandas для упрощения преобразований.

school_suport число в строке значит что i-ый школьник из исходной таблицы получал мат помощь

In [ ]:
# Your code here
# ...

### Задача 6: борьба с выбросами
__(3 балла)__

Качество предсказания может ухудшаться, если в данных присутствуют корректные значения признаков (с точки зрения чтения данных и применения методов), но не соответствующие реальным объектам. Например, данные могли быть введены в неверном формате, а потом слишком грубо приведены к общему виду, из-за чего ошибка не была замечена.
Попробуем от такого избавиться &mdash; а для этого такие объекты нужно сначала найти. Конечно, нам еще недоступны многие продвинутые способы, но давайте попробуем обойтись простыми.

Первый способ это сделать &mdash; посмотреть для каждого признака на распределение его значений и проверить крайние значения на правдоподобность.

*Hint 1: используйте функцию DataFrame.hist*

*Hint 2: в описании датасета выше есть информация, необходимая для восстановления правильных значений*

In [ ]:
# Your code here
# ...

Другой простой способ найти выбросы &mdash; сделать предсказаниепосчитать ошибку на каждом объекте по отдельности и посмотреть на объекты с наибольшей ошибкой. Обратите внимание, что просто удалять все объекты с высокой ошибкой нельзя &mdash; это, конечно, хороший способ добиться меньшей ошибки (на данной выборке), но одновременно вы ухудшите обобщающую способность алгоритма. Вместо этого вам нужно найти однозначно ошибочные записи и их исправить.

*Hint: возможно, все проблемы уже были найдены первым способом; для проверки &mdash; в сумме здесь нужно исправить 3 проблемы.*

In [ ]:
# Your code here
# ...

### Финальное предсказание и отчёт

Проведите предсказание еще раз и сравните качество с исходным. Запишите свои наблюдения - как изменялось качество обучения модели при использовании разных модификаций данных.

In [ ]:
# Your code here
# ...